{
  "pkgRoot": "dist",
  "branches": [
    "master",
    {
      "name": "feat-allow-to-pass-promise-as-response",
      "channel": "feat-allow-to-pass-promise-as-response",
      "prerelease": true
    }
  ]
}
